@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: black;
}
h1{
    color: white;
    font-size: 28px;
}
h3,h4,h2{
    color: white;
}
p{
   color:rgba(255, 255, 255, 0.5) ; 
}
.nav-section{
    background-color: rgb(17, 17, 17);
    color: white;
}
.nav-container{
    width: 1360px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
    
    
}
.nav-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.nev-color{
    color:rgb(230, 83, 60);
    font-size: 30px;
    padding-left: 50px;
}
.helthy-img{
    padding-left: 250px;
}
.tickts-one{
    width: 123px;
height: 70px;
    background-color: rgba(48, 48, 48, 0.54);
    margin-left: 900px;
}
.tickts-two{
    width: 123px;
    height: 70px;
        background-color: rgba(48, 48, 48, 0.54);
}
.circle{
    background-color: rgb(230, 83, 60);
}
.font-color{
    border-radius: 8px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 18px;
    font-weight: 600;
    
    
}
.helthy-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 200px;
    padding-top: 80px;
}
.img-h{
    width: 180px;
height: 160px;
border-radius: 50%;
}

.t-container{
    padding-left: 200px;
}
.text-desing{
    
    font-family: 'Miama', sans-serif;
    font-size: 40px;
                                                
}
.btn-one{
    border-radius: 12px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
}
.btn-two{
    background-color: black;
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 16px;
    width: 150px;
    height: 40px;
}
/* Change Your Habits section */
.habites-container{
    background-color: black;
    color: white;
    padding-top: 25px;
}
.hebits-container-text{
    text-align: center;
}
.hebits-container-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
    padding-top: 25px;
    
}
/* run section */
.run-container{
    background:rgb(34, 34, 34) ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1520px;
height: 371px;
}
.run-img{
    transform: scale(0.2);
    padding-left: -50px;
    border-radius: 12px;
}
.run-text{
padding: 150px;
width: 1060px;
height: 371px;
font-size: 16px;
padding-top: 50px;
color: white;
}
/* bmi section */
.Calculator-text{
    background-color: black;
    color: white;
    text-align: center;
    width: 1520px;
height: 150px;
font-size: 25px;
}
.bmi-container{
    background: rgb(34, 34, 34);
    width: 1520px;
height: 400px;
color: rgba(255, 255, 255, 0.5);
display: flex;
justify-content: space-between;
align-items: center;

}
.table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 150px;
height: 30px;
  }
  .bmi-titale{
    font-size: 28px;
font-weight: 900;

color: rgb(255, 255, 255);  
}
  .bmi-text{
    color: white;
    font-size: 16px;
font-weight: 500;
  }
.bmi-table{
    padding-top: 50px;

}
.bmi-right{
    padding-left: 100px;
    width: 450px;
height: 250px;
}
.bmi-left{
    padding-right: 80px;
}
.bmi-a{
    padding-top: 50px;
}
.b{
    width: 282.5px;
height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
}
.btn-three{
    border-radius: 12px;
    background: rgb(230, 83, 60);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
}
/* Team section */
.team-container{
    background-color: black;
    width: 1520px;
height: 782px;
}
.team-title{
    text-align: center;
    padding-top: 50px;
}
.team-img{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    max-width: 1020px;
margin: 0 auto;
background-color: rgba(255, 255, 255, 0.1);
padding: 20px;
border-radius: 10px;
    
}
.img{
    width: 300.67px;
    height: 202px;
    border-radius: 12px;
    filter: brightness(80%);
}
.name-text{
    position: absolute;
    top: 70%;
}
.full-img-set{
    padding-top: 20px;
    gap: 5px;
}
.picture{
    position: relative;
}
/* footer section */
.footer-container{
    width: 1520px;
height: 350px;
    background:rgb(26, 26, 26);
}
.footer-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
    
}
.line{
padding-top: 80px;
width: 1420px;
padding-left: 100px;
}
.date{
    text-align: center;
    padding-top: 20px;
}
/* responsive section */
@media screen and (max-width: 915px) {
    .nav-container,.nav-option,.nev-color{
        flex-direction: column;
        padding-right: 200px;
    }
    .helthy-container{
        flex-direction: column;
        
    }
    .tickts-one{
        margin-left: 5px;
        padding-bottom: 2px;
    }
    .hebits-container-img{
        flex-direction: column;
    }
    .run-container{
        
    }
    .run-img{
        padding-left: 0px;
    }
    .team-img,.team-title,.Calculator-text{
        flex-direction: column;
        padding-right: 1000px;
    }
    .footer-text{
        flex-direction: column;
        padding-top: 900px;
        padding-right: 1000px;
    }
}